In [29]:
import pandas as pd
import numpy as np

In [30]:
df = pd.read_csv('datafor2meetings.csv')

In [31]:
df

,WatchDate,FOMCDate,6.50,6.75,7.00,7.25,6.25,6.00,5.25,5.50,...,3.50-3.75,3.75-4.00,4.00-4.25,4.25-4.50,4.50-4.75,4.75-5.00,5.00-5.25,5.25-5.50,5.50-5.75,5.75-6.00
0,1991-01-01,1991-02-06,0.000000,0.572800,0.427200,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1991-01-01,1991-03-26,0.198876,0.522248,0.278876,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1991-01-02,1991-02-06,0.000000,0.483200,0.516800,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1991-01-02,1991-03-26,0.191734,0.496532,0.311734,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1991-01-03,1991-02-06,0.000000,0.624000,0.376000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23928,2023-12-30,2024-03-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.01364,0.25472,0.73164,NaN,NaN
23929,2023-12-31,2024-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.00000,0.06200,0.93800,NaN,NaN
23930,2023-12-31,2024-03-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.01364,0.25472,0.73164,NaN,NaN
23931,2024-01-01,2024-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.00000,0.06200,0.93800,NaN,NaN
23932,2024-01-01,2024-03-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.01364,0.25472,0.73164,NaN,NaN

In [32]:
df.columns

Index(['WatchDate', 'FOMCDate', '6.50', '6.75', '7.00', '7.25', '6.25', '6.00',
       '5.25', '5.50', '5.75', '4.25', '4.50', '4.75', '5.00', '4.00', '3.75',
       '3.25', '3.50', '3.00', '2.75', '2.50', '2.25', '2.00', '1.75', '1.50',
       '1.25', '1.00', '0.75', '0.50', '0.00-0.25', '0.25-0.50', '0.50-0.75',
       '-0.25-0.00', '-0.50--0.25', '0.75-1.00', '1.00-1.25', '1.25-1.50',
       '1.50-1.75', '1.75-2.00', '2.00-2.25', '2.25-2.50', '2.50-2.75',
       '2.75-3.00', '-0.75--0.50', '-1.50--1.25', '-1.25--1.00', '-1.00--0.75',
       '3.00-3.25', '3.25-3.50', '3.50-3.75', '3.75-4.00', '4.00-4.25',
       '4.25-4.50', '4.50-4.75', '4.75-5.00', '5.00-5.25', '5.25-5.50',
       '5.50-5.75', '5.75-6.00'],
      dtype='object')

In [33]:
import pandas as pd
import numpy as np

# Assuming df is your DataFrame with the columns listed

# First, ensure that all range columns exist and are initialized properly.
# If any range columns don't exist, you can create them with default values (e.g., 0 or NaN)
# For this example, let's assume all range columns exist and are initialized.

# Map specific rate columns to their range columns
# This is a simplified example. Expand this mapping as needed.
column_mappings = {
    '0.50':'0.50-0.75',
    '0.75':'0.75-1.00',
    '1.00':'1.00-1.25',
    '1.25':'1.25-1.50',
    '1.75':'1.75-2.00', 
    '2.00':'2.00-2.25',
    '2.25':'2.25-2.50',
    '2.50':'2.50-2.75',
    '2.75':'2.75-3.00',
    '3.25':'3.25-3.50',
    '3.50':'3.50-3.75',
    '3.75':'3.75-4.00',
    '4.00':'4.00-4.25',
    '4.25':'4.25-4.50',
    '4.50':'4.50-4.75',
    '4.75':'4.75-5.00',
    '5.00': '5.00-5.25',
    '5.25': '5.25-5.50',
    '5.50':'5.50-5.75',
    '6.00':'6.00-6.25',
    '6.25':'6.25-6.50',
    '6.50':'6.50-6.75',
    '6.75':'6.75-7.00',
    '7.00':'7.00-7.25',
    '7.25':'7.25-7.50'
}

# Iterate over the mapping and aggregate values
for src_col, dest_col in column_mappings.items():
    # Check if the destination column exists, if not, create it
    if dest_col not in df.columns:
        df[dest_col] = 0  # or np.nan, depending on how you want to initialize it

    # Aggregate the source column into the destination column, handling NaN values
    # Ensure both src_col and the next rate that belongs to the range are included
    # This example only shows direct mapping; you might sum multiple columns for a single range
    df[dest_col] = df[dest_col].fillna(0) + df[src_col].fillna(0)

# After processing, you may want to drop the original rate columns if they are no longer needed
df.drop(columns=['6.50', '6.75', '7.00', '7.25', '0.50',
       '5.50', '5.75', '6.00', '4.00', '4.25', '5.25', '3.75', '3.50', '3.00',
       '3.25', '2.75', '4.50', '4.75', '5.00', '6.25', '1.50', '1.75', '2.00',
       '2.25', '1.25', '0.75', '1.00', '2.50'], inplace=True)

In [34]:
df.columns

Index(['WatchDate', 'FOMCDate', '0.00-0.25', '0.25-0.50', '0.50-0.75',
       '-0.25-0.00', '-0.50--0.25', '0.75-1.00', '1.00-1.25', '1.25-1.50',
       '1.50-1.75', '1.75-2.00', '2.00-2.25', '2.25-2.50', '2.50-2.75',
       '2.75-3.00', '-0.75--0.50', '-1.50--1.25', '-1.25--1.00', '-1.00--0.75',
       '3.00-3.25', '3.25-3.50', '3.50-3.75', '3.75-4.00', '4.00-4.25',
       '4.25-4.50', '4.50-4.75', '4.75-5.00', '5.00-5.25', '5.25-5.50',
       '5.50-5.75', '5.75-6.00', '6.00-6.25', '6.25-6.50', '6.50-6.75',
       '6.75-7.00', '7.00-7.25', '7.25-7.50'],
      dtype='object')

In [35]:
df

,WatchDate,FOMCDate,0.00-0.25,0.25-0.50,0.50-0.75,-0.25-0.00,-0.50--0.25,0.75-1.00,1.00-1.25,1.25-1.50,...,5.00-5.25,5.25-5.50,5.50-5.75,5.75-6.00,6.00-6.25,6.25-6.50,6.50-6.75,6.75-7.00,7.00-7.25,7.25-7.50
0,1991-01-01,1991-02-06,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,...,0.00000,0.00000,0.0,NaN,0.0,0.0,0.000000,0.572800,0.427200,0.0
1,1991-01-01,1991-03-26,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,...,0.00000,0.00000,0.0,NaN,0.0,0.0,0.198876,0.522248,0.278876,0.0
2,1991-01-02,1991-02-06,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,...,0.00000,0.00000,0.0,NaN,0.0,0.0,0.000000,0.483200,0.516800,0.0
3,1991-01-02,1991-03-26,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,...,0.00000,0.00000,0.0,NaN,0.0,0.0,0.191734,0.496532,0.311734,0.0
4,1991-01-03,1991-02-06,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,...,0.00000,0.00000,0.0,NaN,0.0,0.0,0.000000,0.624000,0.376000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23928,2023-12-30,2024-03-20,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,...,0.25472,0.73164,0.0,NaN,0.0,0.0,0.000000,0.000000,0.000000,0.0
23929,2023-12-31,2024-01-31,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,...,0.06200,0.93800,0.0,NaN,0.0,0.0,0.000000,0.000000,0.000000,0.0
23930,2023-12-31,2024-03-20,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,...,0.25472,0.73164,0.0,NaN,0.0,0.0,0.000000,0.000000,0.000000,0.0
23931,2024-01-01,2024-01-31,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,...,0.06200,0.93800,0.0,NaN,0.0,0.0,0.000000,0.000000,0.000000,0.0
23932,2024-01-01,2024-03-20,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,...,0.25472,0.73164,0.0,NaN,0.0,0.0,0.000000,0.000000,0.000000,0.0